<h3>New Product</h3>
<form action="/recipes" method="post">  
  <div>
    Name: <input type="text" name="name"><br> 
    Price: <input type="text" name="price"><br>
    Description: <input type="text" name="description"><br>
    <input type="submit" value="Create new product">
  </div>
</form>